$green_color: #64ffda;
$bright_green_color: #64ffdb1d;
$Color_for_writing1: #c2ccec;
$Color_for_writing2: #8892b0;

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
